* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.allHeader {
  border: solid 2px gray;
}
.header_up {
  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 350px;
  gap: 300px;
  border: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 100%);
  background-color: rgba(69, 79, 91, 100%);
}
.header {
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
}

.logo {
  padding: 0px 160px 0px 140px;
}
.glavniy {
  align-items: center;
  color: rgb(22, 28, 36, 100%);
  display: flex;
  gap: 30px;
}
.select {
  align-items: center;
}
.katalog {
  align-items: center;
  border: none;
  outline: none;
  background: none;
}
.phone-n {
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 360px;
  gap: 10px;
}
.icon {
  text-align: center;
  align-items: center;
  gap: 20px;
}
.heart {
  margin-right: 10px;
}
/* //////// Header qismi tugadi ////// */

.contaner {
  margin: 0 auto;
  align-items: center;
  width: 1245px;
  height: 100vh;
}
.main_section {
  margin-top: 50px;
  display: flex;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 290px;
  border: solid 1px rgba(0, 0, 0, 0.338);
}
.card_up {
  padding: 15px 0px 0px 10px;
  background-color: rgba(128, 128, 128, 0.041);
  display: flex;
  gap: 114px;
  text-align: center;
  align-items: center;
}
.card-up-t {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.sale {
  width: 35px;
  background-color: white;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
}
.card_titles {
  margin: 5px;
  padding-left: 10px;
}
.reyting-div {
  display: flex;
  gap: 10px;
}
.cart_title {
  margin-top: 5px;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.realP {
  color: rgba(0, 0, 0, 0.696);
}
.btn_buy {
  margin-left: 115px;
}

.pagination {
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  display: flex;
  gap: 30px;
}
.pg_1 {
  width: 20px;
  text-align: center;
  align-items: center;
  color: white;
  background-color: blue;
}

.img3 {
  width: 25px;
  /* background-color: brown; */
}
